body {
  font-size: 16px;
  background-color: #FDECF4;
  color: black;
}

nav {
  background-color: #ECEBE9;
  float: left;
  position: fixed;
  width: 100%;
}

nav a {
   text-decoration: none;
   color: #B4B8C5;

 }

 nav a:hover {
   text-decoration: underline;
   color: #E396DF;
 }

.logo {
  background-image:url(images/bloc logo.png);

  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
